<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/posStyle.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
    <script type="text/javascript" src="/js/qrcode.js"></script>
    <title>Fiskaly</title>
</head>

<body>
<div id="pos_container">
    <h3>Fiskaly.</h3>
    <p id="status"></p>
    <button id="sendTransBtn" onclick="sendTrans()" disabled>Send Transaction to Fiskaly</button>

</div>

<script src="/js/posClient.js"></script>

</body>
</html>