<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <title>Fiskaly</title>
</head>

<body>
    <h1>Fiskaly</h1>
    <div class="app_container">
        <img id="side_logo" src="/fiskaly_logo.png">

        <div id="signup_container">
            <label>API Key</label>
            <br>
            <input type="text" id="apiKey">
            <br>
            <label>API Secret</label>
            <br>
            <input type="text" id="apiSecret">
            <br>
            <button id="signup_btn" onclick="signup()">Submit</button>
            <br>
            <p id="errorMsg"></p>
        </div>    
        <script src="/js/signup.js"></script>
</body>
</html>